.btn {
  display: inline-block;
  border: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  background-color: #cccccc;
}
.btn:hover{
  background-color: #247ba0;
}
.btn:focus{
  outline: none;
}